.button {
  // Just for kidding
  -webkit-box-shadow: 3px 3px 7px -1px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 3px 3px 7px -1px rgba(0, 0, 0, 0.37);
  box-shadow: 3px 3px 7px -1px rgba(0, 0, 0, 0.37);
}
