.auth-provider-buttons {
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid $color-neutral-200;
}

.auth-provider-buttons__button {
  color: $color-neutral-900;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 10px 16px;
  gap: 8px;
  border: 1px solid $color-neutral-900;
  border-radius: 4px;
  background-color: white;
  margin-bottom: 20px;
}

.auth-provider-buttons__button:hover {
  text-decoration: none;
}
