.auth-form-element {
  .element--read-only & {
    pointer-events: none;
    user-select: none;
  }

  .ab-form-group.ab-form-group--with-label {
    margin-bottom: 1em;
  }
}

.auth-form__footer {
  display: flex;
  flex-direction: column;
  font-size: var(--label-font-size, 13px);
  padding-top: 0.5em;
}

.auth-form-element__provider {
  padding-top: 16px;

  &:first-child {
    padding-top: 0;
  }
}
