.role-assignment-model__full-height-tabs {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.role-assignment-model__full-height-tab {
  min-height: 0;
  height: 100%;
  padding-bottom: 0;
}
