.select-members-list__items {
  max-height: 500px;
  overflow-y: scroll;
}

.select-members-list__user-initials {
  flex: 0 0 20px;
  font-weight: bold;
  color: $white;
  background-color: $color-primary-500;
  border-radius: 100%;

  @include center-text(20px, 10px);
}
