.data-explorer-node__content-icon {
  color: $color-neutral-600;
}

.data-explorer-node__children {
  margin-left: 5px;
}

.data-explorer-node__content {
  @extend %ellipsis;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  padding: 0 5px;
  margin: 0 5px;
  font-size: 13px;
  border-radius: 3px;
  line-height: 24px;

  .data-explorer-node--selected & {
    background-color: $color-primary-100;

    .data-explorer-node__content-selected-icon {
      color: $color-success-500;
    }
  }

  .data-explorer-node--level-0 > & {
    font-size: 12px;
    color: $color-neutral-500;
    margin-left: 10px;

    &:hover {
      background-color: initial;
    }
  }

  .data-explorer-node--level-0 .data-explorer-node--level-1 & {
    cursor: pointer;

    &:hover {
      background-color: $color-neutral-100;
    }
  }
}

.data-explorer-node--level-0 {
  margin-bottom: 8px;
}

.data-explorer-node__content-name {
  flex: 1;
}

.data-explorer-node__array-node-more {
  border: none;
  background: none;
  margin-left: 10px;
  padding-top: 3px;
  color: $color-neutral-600;
  cursor: pointer;
}
