.timeline-grid-header {
  @extend %timeline-grid;

  height: 100%;
  border-top: 1px solid $color-neutral-200;
  border-bottom: 1px solid $color-neutral-200;
}

.timeline-grid-header__column {
  @extend %timeline-grid-column;

  display: flex;
  align-items: center;
  justify-content: center;
}
