.ab-button {
  cursor: pointer;
  display: inline-block;
  color: $white;
  background-color: var(--button-background-color, $black);
  line-height: 28px;
  border: none;
  white-space: nowrap;
  text-decoration: none;
  width: var(--button-width, auto);
  text-align: var(--button-text-alignment, center);
  align-self: var(--button-alignment, flex-start);

  @include rounded($rounded);

  &--full-width {
    width: 100%;
  }

  &--left {
    text-align: left;
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }

  &--small {
    font-size: 12px;
    padding: 0 8px;
  }

  &--medium {
    font-size: 14px;
    padding: 0 12px;
  }

  &--large {
    font-size: 15px;
    padding: 5px 12px;
  }

  &:not(.loading-spinner):hover,
  &:not(.loading-spinner).ab-button--force-hover {
    background-color: var(--hover-button-background-color, $black);
    text-decoration: none;
  }

  &[disabled],
  &[disabled]:hover {
    cursor: not-allowed;
    filter: saturate(0%);
    opacity: 0.8;
  }
}
