.ab-code {
  font-size: var(--body-font-size, 14px);
  font-weight: var(--body-font-weight, 400);
  margin: 0;
  color: var(--body-text-color, $black);
  text-align: var(--body-text-alignment, left);
  font-family: var(--body-font-family, Inter);
  background-color: var(
    --element-background-color-contrast,
    var(--page-background-color-contrast, grey)
  );
  display: block;
  padding: 1em 0.3em;

  & pre {
    margin: 0;
  }

  &.ab-code--inline {
    display: inline-block;
    padding: 0 0.3em;
  }

  .markdown & {
    // for markdown text
    strong {
      color: var(--body-text-color, $black);
    }
  }
}
