.ab-icon {
  font-size: calc(var(--body-font-size, 14px) + 2px);
  font-weight: var(--body-font-weight, 400);
  color: var(--body-text-color, $black);
  margin: 2px;

  &.ab-icon--button {
    cursor: pointer;
    color: color-mix(
      in srgb,
      var(--body-text-color, $black),
      var(--page-background-color, $color-neutral-500) 50%
    );

    &:hover {
      color: var(--body-text-color, $black);
    }
  }
}
