.markdown {
  & > .ab-blockquote,
  & > .ab-code,
  & > .ab-heading,
  & > .ab-hr,
  & > .ab-image,
  & > .ab-link,
  & > .ab-table,
  & > .ab-text {
    margin-top: 1.5em;
  }

  & > .ab-list {
    margin-top: 1em;
  }
}

.markdown > *:first-child {
  margin-top: 0;
}
