.ab-paragraph {
  font-size: 14px;
  margin: 0;
  color: $black;
  text-align: left;

  .element--alignment-horizontal-center & {
    text-align: center;
  }

  .element--alignment-horizontal-right & {
    text-align: right;
  }
}
