.ab-radio {
  display: flex;
  align-items: center;
  font-size: var(--input-font-size, 13px);
  font-family: var(--input-font-family, Inter);
  font-weight: var(--input-font-weight, 400);
  color: var(--input-text-color, $color-neutral-900);
  gap: calc(var(--input-font-size, 13px) / 2);

  &:nth-child(n + 2) {
    margin-top: 0.5em;
  }
}

.ab-radio__input {
  cursor: pointer;
  height: 1em;
  width: 1em;
  color: var(--input-border-color, black);
  accent-color: currentcolor;
}

.ab-radio--error {
  border-color: var(--theme-error-color, $color-error-600);
}

.ab-radio--readonly {
  pointer-events: none;
}

.ab-radio__label {
  cursor: pointer;
  user-select: none;
}
