.ab-text {
  font-size: var(--body-font-size, 14px);
  font-weight: var(--body-font-weight, 400);
  color: var(--body-text-color, $black);
  text-align: var(--body-text-alignment, left);
  font-family: var(--body-font-family, Inter);
  margin: 0;

  .markdown & {
    strong {
      color: var(--body-text-color, $black);
    }
  }
}
