.hidden {
  display: none;
}

.align-right {
  text-align: right;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  68% {
    transform: rotate(880deg);
  }

  100% {
    transform: rotate(1080deg);
  }
}
