.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

.hidden {
  display: none;
}

.align-right {
  text-align: right;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  40% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(720deg);
  }
}
