[flake8]
extend-ignore = E203, W503, F541, E501
max-doc-length = 88
per-file-ignores =
    tests/*: F841
    ../premium/backend/tests/*: F841
    ../enterprise/backend/tests/*: F841
    src/baserow/contrib/database/migrations/*: X1
    src/baserow/core/migrations/*: X1
exclude =
    .git,
    __pycache__,
    src/baserow/core/formula/parser/generated


[flake8:local-plugins]
extension =
    X1 = flake8_baserow:DocstringPlugin
paths = ./flake8_plugins
