prune venv/
# prune tests/
prune dist/
prune .vscode/
prune .idea/

global-exclude .env
global-exclude .env.docker
global-exclude *.py[cod]
exclude .gitignore

recursive-include src/ *.py
recursive-include templates/ *
recursive-include flake8_plugins/
include tests/
include requirements/*.in requirements/*.txt docker/ email_compiler/
include README.md
include pyproject.toml
include MANIFEST.in
