.field-boolean__checkbox {
  border: 1px solid $color-neutral-200;
  border-radius: 3px;
  color: $color-success-600;

  @include center-text(18px, 11px);

  &:not(.field-boolean__checkbox--disabled) {
    cursor: pointer;
  }

  &.field-boolean__checkbox--disabled {
    background-color: $color-neutral-50;
  }

  .field-boolean__checkbox.active & {
    border-color: $color-neutral-300;
  }

  .check {
    visibility: hidden;
  }

  &.active .check {
    visibility: visible;
  }
}

// @TODO add the to use a checkbox input here.
