.field-single-select__dropdown-item.hover {
  background-color: $color-neutral-100;
}

.field-single-select__dropdown-link {
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 32px;

  &:hover {
    text-decoration: none;
  }
}

.field-single-select__dropdown-selected {
  display: flex;
  align-items: center;
}

.field-single-select__dropdown-option {
  @extend %ellipsis;

  display: inline-block;
  color: $color-primary-900;
  border-radius: 20px;
  padding: 0 10px;
  max-width: 100%;

  @include fixed-height(20px, 12px);
}
