.premium-features {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.premium-features__feature {
  margin-bottom: 6px;
  font-size: 15px;
  font-weight: 600;
}

.premium-features__feature-icon {
  margin-right: 4px;
  color: $color-success-500;
}
