.redirect-modal {
  text-align: center;
  padding: 40px;
}

.redirect-modal__title {
  font-size: 20px;
  font-weight: 600;
}

.redirect-modal__from-to {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 40px;
}

.redirect-modal__from-to-icon {
  margin: 0 20px;
}

.redirect-modal__loading {
  display: flex;
  justify-content: center;
}
