.decorator-list {
  padding: 12px;
}

.decorator-list__item {
  cursor: pointer;
  padding: 12px;

  @include rounded($rounded);

  &:not(:last-child) {
    margin-bottom: 6px;
  }

  &:hover {
    background-color: $color-neutral-100;
  }

  &--disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}
