.value-provider-item {
  position: relative;
}

.value-provider-item__title {
  @include flex-align-items(4px);

  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 140%;
}

.value-provider-item__title-text {
  @extend %ellipsis;
}

.value-provider-item__icon {
  margin-right: 4px;
  font-size: 16px;
}

.value-provider-item__description {
  white-space: normal;
  font-size: 13px;
  line-height: 140%;
  color: $color-neutral-600;
}
