.custom-style {
  height: 2px;
}

.custom-style__button {
  float: right;
}

.custom-style__config-blocks {
  width: 350px;
  padding: 20px 20px 5px;
}

.custom-style__config-block-title {
  padding: 0 10px;
}
