.custom-style {
  position: relative;
}

.custom-style--float {
  .custom-style__button {
    position: absolute;
    right: 4px;
    top: -6px;
  }
}

.custom-style__context {
  border: none;
  box-shadow: none;
}

.custom-style__header {
  font-size: 13px;
  font-weight: 500;
  display: flex;
  height: 40px;
  align-items: center;
  position: relative;
  border-bottom: 1px solid $color-neutral-100;
  cursor: pointer;
}

.custom-style__title-icon {
  font-size: 16px;
  position: absolute;
  left: 16px;
  top: 12px;
}

.custom-style__title {
  flex: 1;
  text-align: center;
}

.custom-style__config-blocks {
  // 100% - top bar height
  height: calc(100% - 40px);
  overflow: hidden;
}

.custom-style__config-block-title {
  padding: 0 10px;
}

.custom-style__config-block {
  // Width of sidebar - 2 x padding - left border
  width: calc(400px - 40px - 1px);
  overflow-y: auto;

  // 100% - tab header height
  height: calc(100% - 40px);
}

.custom-style__context .tabs__header {
  background-color: $color-neutral-50;
}
