.theme-config-block-section {
  display: flex;
  width: 100%;
  gap: 34px;
  margin-bottom: 15px;
}

.theme-config-block-section__properties {
  max-width: calc(60% - 10px);
  flex: calc(60% - 10px) 0 0;

  .theme-config-block--no-preview & {
    max-width: 100%;
    flex: 100% 0 0;
  }
}

.theme-config-block-section__preview {
  flex: 1;
  max-width: calc(40% - 14px);
  overflow: hidden;
  padding-right: 14px;
  padding-top: 4px;
  display: flex;
  flex-direction: column;

  .theme-config-block--no-preview & {
    display: none;
  }
}
