.theme-config-block__title {
  color: $color-neutral-900;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  place-content: center space-between;
  margin-bottom: 15px;
  width: 60%;
  padding: 0 20px 0 0;
  user-select: none;

  &:hover {
    text-decoration: none;
  }

  .theme-config-block--no-preview & {
    width: 100%;
  }
}

.theme-config-block__title-icon {
  font-size: 12px;
}

.theme-config-block {
  position: relative;

  & .control--horizontal {
    flex-wrap: nowrap;

    .control__label {
      flex-basis: 40%;
      color: $color-neutral-700;
    }

    .control__elements {
      flex-basis: 60%;
      white-space: initial;
    }
  }

  &:not(.theme-config-block--no-preview)::after {
    @include absolute(0, calc(40% - 14px), 0, auto);

    content: '';
    border-right: 1px solid $color-neutral-100;
  }
}
