{% extends 'baserow/base.html' %}
{% load i18n %}

{% block body %}
  <mj-section>
    <mj-column>
      <mj-text mj-class="title">{% trans "Reset password" %}</mj-text>
      <mj-text mj-class="text">
        {% blocktrans with user.username as username and public_web_frontend_hostname as public_web_frontend_hostname %}
          A password reset was requested for your account ({{ username }}) on
          Baserow ({{ public_web_frontend_hostname }}). If you did not authorize this,
          you may simply ignore this email.
        {% endblocktrans %}
      </mj-text>
      <mj-text mj-class="text" padding-bottom="20px">
        {% blocktrans with expire_hours|floatformat:"0" as hours %}
          To continue with your password reset, simply click the button below, and you
          will be able to change your password. This link will expire in
          {{ hours }} hours.
        {% endblocktrans %}
      </mj-text>
      <mj-button mj-class="button" href="{{ reset_url }}">
        {% trans "Reset password" %}
      </mj-button>
      <mj-text mj-class="button-url">
        {{ reset_url }}
      </mj-text>
      <mj-text mj-class="text">
        {% blocktrans %}
          Baserow is an open source no-code database tool which allows you to collaborate
          on projects, customers and more. It gives you the powers of a developer without
          leaving your browser.
        {% endblocktrans %}
      </mj-text>
    </mj-column>
  </mj-section>
{% endblock %}
