.grid-field-boolean {
  height: 32px;
  display: flex;
}

.grid-field-checkbox {
  margin: auto;
  border-radius: 3px;
  color: $color-success-600;

  @include center-text(18px, 11px);

  .grid-view-cell.active & {
    border: 1px solid $color-neutral-300;
  }

  .check {
    visibility: hidden;
  }

  &.active .check {
    visibility: visible;
  }
}
