{
	{$BASEROW_CADDY_GLOBAL_CONF}
}

{$BASEROW_CADDY_ADDRESSES} {
	handle /api/* {
		reverse_proxy {$PRIVATE_BACKEND_URL:localhost:8000}
	}

	handle /ws/* {
		reverse_proxy {$PRIVATE_BACKEND_URL:localhost:8000}
	}

	handle_path /media/* {
		@downloads {
			query dl=*
		}
		header @downloads Content-disposition "attachment; filename={query.dl}"

		file_server {
			root {$MEDIA_ROOT:/baserow/media/}
		}
	}

	reverse_proxy {$PRIVATE_WEB_FRONTEND_URL:localhost:3000}
}
