services:
  {{ cookiecutter.project_slug }}:
    container_name: {{ cookiecutter.project_slug }}
    image: {{ cookiecutter.project_slug }}
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:80"
      - "443:443"
    environment:
      BASEROW_PUBLIC_URL: http://localhost
    volumes:
      - baserow_data:/baserow/data
volumes:
  baserow_data: