.grid-view {
  @include absolute(0);
  overflow: hidden;

  .scrollbars {
    // We don't want the scrollbars to go over the header. We also don't want the
    // scrollbars to go over the first column, but since the width can automatically
    // be adjusted that needs to be specified in the html file.
    top: 33px;
  }
}

.grid-view-left,
.grid-view-right {
  @include absolute(0, auto);
  z-index: 1;
  overflow: hidden;
}

.grid-view-inner {
  @include absolute(0);
  overflow: hidden;
}

// The width of the first column can be adjusted that is why it is specified in the html
// file.
.grid-view-left {
  left: 0;
  background-color: $color-neutral-50;
}

// The width of the first column can be adjusted that is why the left offset is
// specified in the html file.
.grid-view-right {
  right: 0;
}

// The divider has not left property because the width of the left column can be
// adjusted that is why it is specified in the html file.
.grid-view-divider {
  @include absolute(0, auto);
  z-index: 3;
  width: 4px;
  border-left: 1px solid $color-neutral-300;
  overflow: hidden;
  pointer-events: none;

  &:before {
    display: none;
    content: "";
    @include absolute(0, auto, 0, 0);
    width: 4px;
    left: -4px;
    background-color: black;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  }

  &.shadow:before {
    display: block;
  }
}

.grid-view-divider-width {
  @include absolute(3px, auto, auto, auto);
  margin-left: -4.5px;
  z-index: 3;
  width: 9px;
  height: 26px;

  &:before {
    content: "";
    @include absolute(0, 2px, 0, 2px);
    border-radius: 2px;
  }

  &:hover:before {
    background-color: $color-primary-500;
  }
}

.grid-view-head {
  @include absolute(0, 0, auto, 0);
  height: 33px;
  background-color: $color-neutral-50;
  border-bottom: 1px solid $color-neutral-200;
}

.grid-view-body {
  position: absolute;
  left: 0;
  top: 33px;
  right: 0;
  bottom: 48px;
  overflow: hidden;
}

.grid-view-body-inner {
  padding-bottom: 100px;
}

.grid-view-foot {
  @include absolute(auto, 0, 0, 0);
  height: 48px;
  background-color: $color-neutral-50;
  border-top: 1px solid $color-neutral-200;
}

.grid-view-foot-info {
  padding: 10px;
}

.grid-view-row {
  @extend .clearfix;
  height: 32px + 1px;
}

// Because the width of a column can be adjusted it is specified in the html file.
.grid-view-column {
  position: relative;
  float: left;
  height: 32px + 1px;
  border-right: 1px solid $color-neutral-200;
  border-bottom: 1px solid $color-neutral-200;

  .grid-view-head & {
    height:  32px;
    border-bottom: none;
    background-color: $color-neutral-100;
  }

  .grid-view-foot & {
    border-right: 0;
    border-bottom: 0;
  }

  .grid-view-left & {
    border-right: none;
  }
}

.grid-view-row-info {
  @include absolute(0);
  background-color: $white;
  padding: 0 24px 0 6px;
  line-height: 32px;
}

.grid-view-row-count {
  @extend %ellipsis;
  width: 100%;

}

.grid-view-row-more {
  @include absolute((32px - 18px) / 2, 4px, 0 auto);
  @include center-text(18px, 11px);
  color: $color-neutral-400;
  border-radius: 100%;
  display: none;

  .grid-view-row-hover & {
    display: block;
  }

  &:hover {
    background-color: $color-primary-100;
    color: $color-primary-800;
  }
}

.grid-view-cell {
  @include absolute(0);
  background-color: $white;

  &.active {
    @include absolute(-2px);
    z-index: 2;
    border: 2px solid $color-primary-500;
    border-radius: 2px;
  }

  &.active-by {
    border-color: $color-success-500;
  }

  .grid-view-cell-active-by {
    @include absolute(-8px, 0, auto, auto);
    @include fixed-height(18px, 12px);
    background-color: $color-success-500;
    color: $white;
    border-radius: 3px;
    padding: 0 3px;
    transform: translateX(50%);

    .icon {
      font-size: 9px;
    }
  }
}

.grid-view-description {
  padding: 0 30px;
  line-height: 32px;

  .grid-view-description-icon,
  .grid-view-description-options {
    line-height: inherit;
    width: 30px;
    color: $color-neutral-600;
  }

  .grid-view-description-icon {
    @include absolute(0, auto, 0, 0);
    padding-left: 10px;
    text-align: left;
  }

  .grid-view-description-options {
    @include absolute(0, 4px, 0, auto);
    text-align: center;

    &:hover {
      color: $color-neutral-900;
    }
  }

  .grid-view-description-width {
    @include absolute(3px, -4.5px, 3px, auto);
    z-index: 2;
    width: 9px;

    &:before {
      content: "";
      @include absolute(0, 2px, 0, 2px);
      border-radius: 2px;
    }

    &:hover:before {
      background-color: $color-primary-500;
    }
  }

  .grid-view-description-name {
    @extend %ellipsis;
  }
}

.grid-view-add-column {
  display: block;
  line-height: 32px;
  text-align: center;
  color: $color-neutral-900;

  &:hover {
    background-color: $color-primary-100;
  }
}

.grid-view-add-column-placeholder {
  display: none;

  &.hover {
    display: block;
  }
}

.grid-view-add-row {
  display: block;
  line-height: 32px;
  height: 32px;
  padding-left: 10px;
  color: $color-neutral-900;
  background-color: $white;

  &:hover,
  &.hover {
    background-color: $color-primary-100;
  }
}
