// @TODO make this a bit clearer

.grid-view {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.grid-view-divider {
  position: absolute;
  top: 0;
  bottom: 0;
  border-right: 1px solid $color-neutral-300;
}

.grid-view-left,
.grid-view-right {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.grid-view-left {
  left: 0;
  background-color: $color-neutral-50;
}

.grid-view-right {
  right: 0;
}

.grid-view-outer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
}

.grid-view-inner {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.grid-view-divider {
  z-index: 2;
  border-right: 1px solid $color-neutral-300;
}

.grid-view-head {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 33px;
  background-color: $color-neutral-50;
  border-bottom: 1px solid $color-neutral-200;
}

.grid-view-body {
  position: absolute;
  left: 0;
  top: 33px;
  right: 0;
  bottom: 48px;
  overflow: hidden;
}

.grid-view-body-outer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
}

.grid-view-body-inner {
  padding-bottom: 100px;
}

.grid-view-foot {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 48px;
  background-color: $color-neutral-50;
  border-top: 1px solid $color-neutral-200;
}

.grid-view-row {
  @extend .clearfix;
  height: 32px + 1px;
}

.grid-view-column {
  position: relative;
  float: left;
  height: 32px + 1px;
  border-right: 1px solid $color-neutral-200;
  border-bottom: 1px solid $color-neutral-200;

  .grid-view-head & {
    height:  32px;
    border-bottom: none;
    background-color: $color-neutral-100;
  }

  .grid-view-foot & {
    border-right: 0;
    border-bottom: 0;
  }

  .grid-view-left & {
    border-right: none;
  }
}

.grid-view-cell {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: $white;

  &.active {
    z-index: 2;
    left: -2px;
    top: -2px;
    right: -2px;
    bottom: -2px;
    border: 2px solid $color-primary-500;
    border-radius: 2px;
  }
}
