html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

body {
  background-color: $color-neutral-100;
}

a {
  cursor: pointer;
}

b,
strong {
  font-weight: 600;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:focus {
  outline: 0;
}
