html {
  font-size: 62.5%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}

@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}

body {
  color: $color-primary-900;
  font-family: $text-font-stack;
  font-size: 13px;
}

a {
  color: $color-primary-500;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  @extend %first-last-no-margin;

  color: $color-neutral-500;
  line-height: 170%;
  margin-bottom: 30px;
}

h1,
.heading-1 {
  @extend %first-last-no-margin;

  font-family: $logo-font-stack;
  font-size: 33px;
  line-height: 130%;
  margin: 30px 0;
}

h2,
.heading-2 {
  @extend %first-last-no-margin;

  font-size: 22px;
  line-height: 130%;
  margin: 20px 0;
}

h3,
.heading-3 {
  @extend %first-last-no-margin;

  font-size: 14px;
  line-height: 130%;
  margin: 10px 0;
}
