{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "env": {
    "commonjs": true,
    "browser": true,
    "es6": true,
    "node": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "rules": {
    "linebreak-style": 0,
    "import/no-unresolved": [
      2,
      {
        "devDependencies": true
      }
    ],
    "import/no-extraneous-dependencies": [
      2,
      {
        "devDependencies": true
      }
    ]
  }
}
