.ab-button {
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  color: $white;
  background-color: var(--button-color, $black);
  line-height: 28px;
  padding: 0 12px;
  border: none;
  white-space: nowrap;
  text-align: left;
  text-decoration: none;
  @include rounded($rounded);

  &:hover {
    filter: brightness(1.3);
    text-decoration: none;
  }

  &--full-width {
    width: 100%;
  }

  &--center {
    text-align: center;
  }

  &--large {
    font-size: 15px;
    padding: 5px 12px;
  }

  .element--alignment-horizontal-center & {
    text-align: center;
  }

  .element--alignment-horizontal-right & {
    text-align: right;
  }

  &[disabled],
  &[disabled]:hover {
    cursor: not-allowed;
    filter: saturate(0%);
    opacity: 0.8;
  }
}
