.column-element {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: var(--space-between-columns);
  align-items: var(--alignment);
}

.column-element__column {
  width: var(--column-width);
}

.column-element__element {
  width: 100%;
}
