.heading-element {
  margin: 0;
  color: var(--color, $black);
  font-size: var(--font-size, 30px);
}

// These tag specific selectors will be removed once the heading element has it's own
// custom styling.
h1.heading-element {
  font-size: var(--font-size, 30px);
}

h2.heading-element {
  font-size: var(--font-size, 26px);
}

h3.heading-element {
  font-size: var(--font-size, 22px);
}

h4.heading-element {
  font-size: var(--font-size, 18px);
}

h5.heading-element {
  font-size: var(--font-size, 14px);
}

h6.heading-element {
  font-size: var(--font-size, 14px);
  font-style: italic;
}
