h1.heading-element {
  font-size: 24px;
  padding: 32px 82px;
}

h2.heading-element {
  font-size: 20px;
  padding: 28px 82px;
}

h3.heading-element {
  font-size: 18px;
  padding: 24px 82px;
}

h4.heading-element {
  font-size: 16px;
  padding: 20px 82px;
}

h5.heading-element {
  font-size: 15px;
  padding: 18px 82px;
}

h6.heading-element {
  font-size: 14px;
  padding: 16px 82px;
}
