.iframe-element__iframe {
  border: none;
  width: 100%;
}

.iframe-element__empty {
  border: 1px solid $palette-neutral-700;
  color: $palette-neutral-700;
  margin: 0;
  padding: 16px;
}

.iframe-element__placeholder {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
