.input-element {
  appearance: none;
  width: 100%;
  display: block;
  border: 1px solid $black;
  padding: 8px 12px;
  outline: none;
  line-height: 100%;

  &:active,
  &:focus {
    border-color: $black;
  }

  .element--read-only & {
    pointer-events: none;
    user-select: none;
  }
}

.input-element--error {
  border-color: $palette-red-600;
}
