.link-element {
  display: flex;
  padding: 5px 82px;
}

.link-element--alignment-left {
  justify-content: start;

  .button--full-width {
    text-align: left;
  }
}

.link-element--alignment-center {
  justify-content: center;

  .button--full-width {
    text-align: center;
  }
}

.link-element--alignment-right {
  justify-content: end;

  .button--full-width {
    text-align: right;
  }
}

.link-element__link {
  font-size: 14px;
  font-weight: 700;
  padding: 0;
  height: 32px;
  line-height: 32px;
  border: 1px solid transparent;
}
