.menu-element__container {
  display: flex;
  justify-content: var(--alignment);
}

/**
  Disable pointer events when in Page Editor.
  */
.element--read-only .menu-element__container {
  pointer-events: none;
  user-select: none;
}

.menu-element__container--vertical {
  flex-direction: column;
  gap: 20px;
  width: 100%;

  .menu-element__menu-item-separator {
    width: 100%;
    height: 1px;
    background-color: color-mix(
      in srgb,
      var(--body-text-color, $black),
      var(--page-background-color, $white) 50%
    );
    margin: 0 5px;
  }
}

.menu-element__menu-item-spacer {
  flex: 1;
}

.menu-element__sub-link-menu-spacer {
  flex: 1;
}

.menu-element__container--horizontal {
  flex-direction: row;
  align-items: center;
  gap: 20px;

  .menu-element__menu-item-separator {
    width: 1px;
    height: 20px;
    background-color: color-mix(
      in srgb,
      var(--body-text-color, $black),
      var(--page-background-color, $white) 50%
    );
  }

  .menu-element__sub-link-menu--expanded-icon {
    margin-left: 5px;
  }
}

.menu-element__sub-link-menu--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.menu-element__sub-links {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  padding: 5px;
  border-radius: 6px;
}

.menu-element__sub-link {
  width: 100%;
  display: block;
  padding: 10px;
  text-decoration: none;
}

.menu-element__sub-link:hover {
  background: var(--page-background-color-contrast, $palette-neutral-100);
}
