.repeat-element__device-selector {
  gap: 10px;

  input[type='number'] {
    margin-top: 5px;
    text-align: center;
  }

  .header__filter-icon {
    margin: 0 auto;
  }
}

.repeat-element__preview {
  opacity: 0.4;
  pointer-events: none;
  user-select: none;
}
