.sample-data-modal {
  div.modal__box {
    max-height: 90vh;
    overflow-y: auto;
    padding: 1.5em;
    max-width: 680px;
  }
}

.sample-data-modal__sub-title {
  font-size: 14px;
  margin-bottom: 10px;
}

.sample-data-modal__code {
  position: relative;
  display: block;
  width: 100%;
  padding: 6px;
  font-size: 12px;
  background-color: $color-neutral-100;
  line-height: 140%;

  @include rounded($rounded);

  pre,
  code {
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    word-break: break-word;
  }
}

.sample-data-modal__copy-button {
  position: absolute;
  top: 6px;
  right: 6px;
  z-index: 1;
}
