.workflow-history__divider {
  height: 1px;
  width: 100%;
  background-color: $palette-neutral-200;
  margin-top: 16px;
  margin-bottom: 16px;
}

.workflow-history__header {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 14px;
  color: $palette-neutral-600;
  user-select: none;
}

.workflow-history__header-title {
  flex: 1;
  color: $color-neutral-900;
  font-size: 12px;
  font-weight: 500;
}

.workflow-history__header-date {
  font-size: 11px;
}

.workflow-history__run-time {
  margin-left: 24px;
  margin-top: 12px;
  font-size: 11px;
}

.workflow-history__cancel {
  margin-left: 24px;
  margin-top: 8px;
  font-size: 11px;
  color: $palette-neutral-600;
}

.workflow-history__cancel-link {
  color: $palette-neutral-900;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }

  &--disabled {
    color: $palette-neutral-600;
    cursor: default;
    pointer-events: none;
  }
}

.workflow-history__components {
  margin-left: 24px;
  margin-top: 8px;
}

.workflow-history__message {
  font-size: 12px;
  line-height: 16px;
  color: $palette-neutral-900;
  margin-left: 24px;
  margin-top: 12px;
}
