.workflow-editor__node {
  display: inline-flex;
  height: 72px;
  padding: 16px;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  width: 412px;
  border: 1.5px solid $palette-neutral-200;
  background: $white;
  cursor: pointer;

  @include elevation($elevation-low);
  @include rounded($rounded-xl);
}

.workflow-editor__node::before {
  content: attr(data-before-label);
  position: absolute;
  top: -25px;
  left: 0;
  color: $palette-neutral-900;
  font-weight: 500;
}

.workflow-editor__node-more--wrapper {
  display: flex;
  margin-left: auto;
  flex-direction: column;
  gap: 4px;
}

.workflow-editor__node-more-icon {
  color: $palette-neutral-800;
  font-size: 20px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  @include rounded($rounded-md);

  &:hover {
    background-color: $palette-neutral-100;
  }
}

.workflow-editor {
  .vue-flow__controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .vue-flow__controls-button {
    border: none;
    border-right: 1px solid #eee;
  }

  .vue-flow__node-workflow-node {
    &.selected {
      .workflow-editor__node {
        border: 1.5px solid $palette-blue-500;
      }
    }
  }
}

.workflow-editor__node-icon {
  display: flex;
  height: 40px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 1px solid $palette-neutral-200;

  @include elevation($elevation-low);
  @include rounded($rounded-md);
}

.workflow-editor__node-title {
  font-size: 16px;
  font-weight: 500;
  color: $palette-neutral-1200;
  min-width: 0;

  &:last-child {
    margin-bottom: 30px;
  }

  @extend %ellipsis;
}
