.workflow-editor__node {
  display: inline-flex;
  height: 72px;
  padding: 16px;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  width: 412px;
  border-radius: 12px;
  border: 1.5px solid $palette-neutral-200;
  background: $white;

  @include elevation($elevation-low);
}

.workflow-editor__node-more-icon {
  color: $palette-neutral-800;
  font-size: 20px;
  margin-left: auto;
}
