.views-context .section-header {
  color: $color-neutral-600;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 14px;
}

.views-context .section-header ~ .section-header {
  margin-top: 0;
}

.views-context__select_items {
  max-height: (8 * 36px) + 60px; // scroll after ~ 8 items
  overflow-y: auto;
}
