.calendar-date-selector {
  display: flex;
  justify-content: space-between;
  margin-right: 24px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.calendar-date-selector__prev {
  color: $color-primary-900;
  height: 44px;
  vertical-align: middle;
  margin-right: 20px;
  line-height: 44px;
}

.calendar-date-selector__next {
  color: $color-primary-900;
  height: 44px;
  vertical-align: middle;
  margin-right: 20px;
  line-height: 44px;
}

.calendar-date-selectoro > * {
  cursor: pointer;
  user-select: none;
}
