.calendar-month-day-expanded {
  min-width: 212px;
}

.calendar-month-day-expanded__title {
  padding: 16px;
  border-bottom: 1px solid $color-neutral-200;
  font-weight: 400;
  font-size: 13px;
  color: $color-neutral-900;
}

.calendar-month-day-expanded__cards {
  position: relative;
  padding: 8px;
}

.calendar-month-day-expanded__close {
  @include absolute(17px, 17px, auto, auto);

  font-size: 12px;
  color: $color-neutral-400;

  &:hover {
    color: $color-neutral-800;
  }

  cursor: pointer;
}

.calendar-month-day-expanded__try-again {
  margin-left: 20px;
  padding-bottom: 8px;
}
