.calendar-card {
  border: 1px solid $color-neutral-200;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba($color-primary-900, 0.1);
  color: $color-primary-900;
  height: 26px;
  margin-bottom: 2px;

  &:hover {
    cursor: pointer;
  }

  &:not(.calendar-card--disabled):not(.calendar-card--dragging):hover {
    cursor: pointer;
    background-color: $color-neutral-100;
  }
}

.calendar-card__content {
  @extend %ellipsis;

  margin: 0 8px 0 8px;
  width: 100%;
  gap: 6px;
  display: flex;
  text-align: left;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;

  > :first-child {
    margin-left: 0;
    margin-right: 0;
  }
}
