.api-docs__parameters {
  list-style: none;
  margin: 30px 0 0;
  padding: 0;
}

.api-docs__parameter {
  position: relative;
  display: flex;
  padding-left: 34px;

  &::before {
    content: '';
    width: 20px;
    border-bottom: solid 1px $color-neutral-200;

    @include absolute(8px, auto, auto, 0);
  }

  &:not(:last-child)::after {
    content: '';
    height: 100%;
    border-right: solid 1px $color-neutral-200;

    @include absolute(8px, auto, auto, 0);
  }
}

.api-docs__parameter-name {
  flex: 0 200px;
  margin: 0 20px 20px 0;
}

.api-docs__parameter-name--parent {
  margin: 0 20px 0 0;
}

.api-docs__parameter-visible-name {
  color: $color-neutral-700;
  margin-left: 4px;
}

.api-docs__parameter-optional {
  font-size: 12px;
  margin-top: 6px;
  display: inline-block;
  padding: 4px 6px;
  background-color: $color-success-500;
  color: $white;

  @include rounded($rounded);
}

.api-docs__parameter-description {
  width: 100%;
  border-bottom: solid 1px $color-neutral-200;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.api-docs__parameter-default {
  font-size: 12px;
  margin: 8px 0;
}

.api-docs__parameter-content {
  margin-top: 8px;
  line-height: 140%;
}

.api-docs__parameter-content--parent {
  margin-left: 20px;
}
