.api-docs__table {
  @extend %first-last-no-margin;

  width: 100%;
  vertical-align: top;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 30px 0;

  > tbody {
    vertical-align: inherit;
  }

  > thead {
    vertical-align: bottom;
  }

  th {
    font-weight: 600;
  }

  th,
  td {
    font-size: 14px;
    text-align: left;
    padding: 20px 0;
    border-bottom: solid 1px $color-neutral-200;
    line-height: 140%;

    &:not(:last-child) {
      padding-right: 20px;
    }
  }

  .api-docs__table-without-border {
    th,
    td {
      border-bottom: none;
      padding-bottom: 0;
    }

    & + tr {
      th,
      td {
        padding-top: 10px;
      }
    }
  }
}

.api-docs__table-content {
  font-size: 14px;
  line-height: 170%;
}
