.add-element-card {
  border: solid $color-neutral-300 1px;
  padding: 10px 15px 10px 15px;
  width: 133px;
  height: 60px;
  cursor: pointer;
  @include rounded($rounded-md);

  &:hover {
    background-color: $color-neutral-100;
    text-decoration: none;
  }

  &--disabled {
    cursor: inherit;
    pointer-events: none;
  }
}

.add-element-card__description {
  font-size: 11px;
  color: $color-neutral-400;
}

.add-element-card__element-type {
  @include flex-align-items(4px);
}

.add-element-card__element-type-icon {
  font-size: 16px;
}
