.data-source-context__container {
  max-height: inherit;
  display: flex;
  flex-direction: column;
}

.data-source-context__content {
  min-width: 600px;
  overflow: hidden scroll;
}

.data-source-context__content-section {
  padding: 20px 24px;

  &:not(:last-child) {
    border-bottom: 1px solid $palette-neutral-200;
  }
}

.data-source-context__content-section-title {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 8px;
}

.data-source-context__content-section-description {
  color: $palette-neutral-900;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 14px;
}

.data-source-context__items {
  display: flex;
  flex-direction: column;
}

.data-source-context__none {
  padding: 50px;
  white-space: normal;
  word-break: break-word;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-source-context__none-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
}

.data-source-context__none-description {
  color: $palette-neutral-900;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 24px;
}
