.data-source-form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .tabs__header {
    border-bottom: none;
    padding-left: 0;
  }
}

.data-source-form__header-form {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  gap: 10px;
}
