.data-source-context__container {
  max-height: inherit;
  display: flex;
  flex-direction: column;
}

.data-source-context__content {
  min-width: 600px;

  &--scrollable {
    overflow: hidden scroll;
  }
}

.data-source-context__forms {
  display: flex;
  flex-direction: column;

  > div {
    &:not(:last-child) {
      border-bottom: 1px dashed $palette-neutral-200;
    }
  }
}

.data-source-context__none {
  padding: 16px 20px;
  white-space: normal;
  word-break: break-word;
}

.data-source-context__none-title {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px;
}

.data-source-context__none-description {
  font-size: 13px;
}
