.element {
  // this is a placeholder, the class will be added to every element component.
}

.element--no-value {
  opacity: 0.3;
}

.element--alignment-left {
  justify-content: start;
}

.element--alignment-center {
  justify-content: center;
}

.element--alignment-right {
  justify-content: end;
}
