.empty-side-panel-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 20%;
  text-align: center;
}

.empty-side-panel-state__icon {
  font-size: 40px;
  color: $color-neutral-400;
}
