.integration_settings__integration {
  display: flex;
  padding: 10px 0;
}

.integration-settings__loading {
  margin: auto;
}

.integration_settings__integration-actions {
  display: flex;
  align-items: center;
}
