.page-preview__wrapper {
  @include absolute(30px, 400px, 0, 40px);

  display: flex;
  justify-content: center;
}

.page-preview {
  position: relative;
  z-index: 1;
  background-color: $white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page-preview__add {
  @include center-text(26px, 10px);

  display: block;
  border-radius: 100%;
  border: solid 1px $color-neutral-300;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  color: $color-primary-900;
  background-color: $white;

  &:hover {
    background-color: $color-neutral-50;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.32);
  }
}

.page-preview__scaled {
  width: 100%;
  height: 100%;
  overflow: auto;

  // We need to do this because the border of the preview is round on top and the first
  // element has a blue border when selected. That border has to have the same shape.
  > div:first-child::before {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }
}
