.preview-navigation-bar {
  background-color: $white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 6px 10px;
  width: 100%;
  border-bottom: solid 1px $color-neutral-200;
  display: flex;
  gap: 10px;

  .page-preview__wrapper--smartphone & {
    flex-direction: column;
    align-items: center;
  }
}

.preview-navigation-bar__user-selector {
  width: fit-content;
  flex-shrink: 0;

  .page-preview__wrapper--smartphone & {
    order: 2;
  }
}

.preview-navigation-bar__address-bar {
  border-radius: 2px;
  padding: 3px 12px;
  display: flex;
  min-height: 25px;
  flex: 1;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.preview-navigation-bar__address-bar-path {
  color: $color-neutral-500;
  font-size: 12px;
}
