.preview-navigation-bar-input {
  background-color: $color-neutral-100;
  width: 40px;
  padding: 0 3px;
  border: 1px solid transparent;

  @include rounded($rounded);

  &--invalid {
    border-color: $palette-red-600;
  }
}
