.publish-action-modal__container {
  margin-bottom: 20px;
}

.publish-action-modal__domain-name {
  margin-right: 1em;
}

.publish-action-modal__copy-domain {
  position: relative;
  color: $color-primary-900;
  font-size: 12px;
  margin-right: 6px;
}

.publish-action-modal__domain-link {
  color: $color-primary-900;
  font-size: 12px;
}

.publish-action-modal__last-update {
  margin: 6px 0 0 24px;
  font-size: 12px;
}
