.create-widget-button {
  border: 1px dashed #cdcecf;
  box-shadow: 0 1px 2px 0 rgba(7, 8, 16, 0.1);
  margin: 24px 0;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include rounded($rounded-md);
}
