.dashboard-summary-widget {
  // nothing
}

.dashboard-summary-widget__summary {
  color: $palette-neutral-1200;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dashboard-summary-widget__summary--misconfigured {
  color: #cdcecf;
}

.dashboard-summary-widget__loading {
  height: 120px;

  .dashboard-summary-widget--with-header-description & {
    height: 141.8px;
  }
}
