{
  "extends": "stylelint-config-standard",
  "rules": {
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "/regex/",
          "function",
          "if",
          "each",
          "include",
          "mixin",
          "return",
          "extend",
          "for"
        ]
      }
    ]
  }
}
