.modal-wrapper {
  @include absolute(0);

  overflow: auto;
  z-index: $z-index-modal;
  background-color: rgba($color-neutral-700, 0.16);
}

.modal-box {
  @extend .box;

  position: relative;
  margin: 40px auto;
  max-width: 660px;
  background-color: $white;
  border-radius: 3px;

  .box-title {
    margin-top: 0;
  }
}

.modal-close {
  @include absolute(20px, 20px, auto, auto);

  font-size: 20px;
  color: $color-neutral-400;

  &:hover {
    color: $color-neutral-800;
  }
}

.modal-head {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: solid 1px $color-neutral-200;
}
