.placeholder {
  margin: 60px auto;
  width: 520px;
  text-align: center;
}

.placeholder__icon {
  color: $color-primary-900;
  font-size: 34px;
}

.placeholder__title {
  font-size: 33px;
  font-weight: 700;
}
