.badge-collaborator {
  display: inline-flex;
  padding: 5px 8px 5px 6px;
  height: 28px;
  align-items: center;
  gap: 6px;
  font-size: 13px;
  font-weight: 500;
  border: 1px solid $palette-neutral-200;
  max-width: 100%;
  box-sizing: border-box;
  line-height: 16px;

  @include rounded($rounded-2xl);
}

.badge-collaborator--small {
  font-size: 11px;
  height: 24px;
}

.badge-collaborator__label {
  @extend %ellipsis;
}

.badge-collaborator__remove-icon {
  font-size: 14px;
  flex-shrink: 0;
  color: $palette-neutral-700;
  cursor: pointer;

  &:hover,
  &:active {
    color: $palette-neutral-900;
  }
}
