.box {
  background-color: $white;
  border-radius: 6px;
  box-shadow: 0 3px 10px 0 rgba($black, 0.16);
  padding: 32px 40px;
}

.box__title {
  padding-bottom: 20px;
  border-bottom: 1px solid $color-neutral-200;
  word-break: break-word;
}

.box__message {
  text-align: center;
}

.box__message-icon {
  font-size: 50px;
  color: $color-primary-500;
  margin-bottom: 30px;
}

.box__message-title {
  margin-bottom: 30px;
}

.box__message-text {
  color: $color-primary-900;
}
