.box-page {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  padding: 80px 0;
  max-width: 92%;
  width: 520px;
}

.box-page__header {
  background: $color-primary-600;
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  height: 124px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    background: inherit;
    bottom: 0;
    height: 200%;
    transform: skewY(-4deg);
    transform-origin: 100%;
    z-index: -1;
  }
}
