.color-picker-context {
  padding: 15px;
}

.color-picker-context__color {
  display: flex;
  margin-top: 12px;
  width: 310px;
}

.color-picker-context__color-type {
  flex: 0 0 70px;
}

.color-picker-context__color-hex {
  flex-basis: 95px;
  margin-left: 16px;
}

.color-picker-context__color-rgb {
  display: flex;
  gap: 5px;
  margin: 0 5px;

  // input {
  //   width: 38px;
  //   padding-left: 5px;
  //   padding-right: 5px;
  // }
}

.color-picker-context__color-opacity {
  flex: 0 0 72px;
  margin-left: auto;
}

.color-picker-context__variables {
  margin-top: 12px;
}

.color-picker-context__variable-color {
  width: 40px;
  height: 20px;
  border-radius: 3px;
  margin-right: 6px;

  @include elevation($elevation-low);
}
