.color-select-context__colors {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 12px;
}

.color-select-context__row {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.color-select-context__color {
  position: relative;
  height: 28px;
  width: 28px;

  @include rounded($rounded);

  &:not(.active):hover {
    box-shadow: 0 0 2px rga(0, 0, 0, 8%);
  }
}

.color-select-context__active-icon {
  position: absolute;
  color: $color-neutral-900;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
