.context {
  position: absolute;
  z-index: $z-index-context;
  white-space: nowrap;
  background-color: $white;
  border: 1px solid $color-neutral-200;

  @include add-elevation($elevation-medium);
  @include rounded($rounded-md);

  &.context--loading-overlay {
    &::before {
      content: '';
      background-color: rgba(0, 0, 0, 0.16);
      z-index: 2;

      @include absolute(0, 0, 0, 0);
      @include rounded($rounded-md);
    }

    &::after {
      content: '';
      z-index: 2;
      margin: -7px auto auto -7px;

      @include loading(14px);
      @include absolute(50%, auto, auto, 50%);
    }
  }

  &.context--overflow-scroll {
    // This must be added for the v-auto-overflow-scroll to work. It will be overwritten
    // if the scrollable part has a lower height.
    overflow-y: scroll;
  }
}

.context--loading {
  display: flex;
  justify-content: center;
  padding: 32px 0;
}

.context__description {
  padding: 32px 0;
  text-align: center;
}

.context__menu-title {
  color: $color-neutral-600;
  padding: 12px 8px 2px 8px;
  line-height: 13px;
  margin-bottom: 10px;
}

.context__menu {
  list-style: none;
  padding: 0;
  margin: 10px 0;

  li {
    margin-bottom: 4px;
    padding: 0 8px;
  }

  a {
    position: relative;
    color: $color-neutral-900;
    padding: 7px 8px;
    user-select: none;
    font-size: 14px;

    @include rounded($rounded);
    @include flex-align-items(6px);

    &.context__menu-item-with-desc {
      flex-direction: column;
      align-items: start;
    }

    &.disabled {
      cursor: not-allowed;
      opacity: 0.65;
      box-shadow: none;
    }

    &:hover {
      background-color: $color-neutral-100;
      text-decoration: none;
    }

    &.context__menu-item--loading {
      background-color: transparent;
      cursor: initial;

      &::before {
        content: '';
        z-index: 1;

        @include loading(14px);
        @include absolute(8px, auto, auto, 8px);
      }
    }

    &.context__menu-item--delete {
      color: $color-error-600;
    }
  }

  &.context__menu--can-be-active a {
    padding-right: 32px;
    display: flex;

    &.context__menu-item--loading {
      &::before {
        left: auto;
        right: 8px;
      }

      &.active::after {
        display: none;
      }
    }
  }
}

.context__menu-icon {
  position: relative;
  color: $color-neutral-600;
  text-align: left;

  .context__menu-item--loading & {
    color: $white;
  }
}

.context__menu-item-title {
  @include flex-align-items(4px);
}

.context__menu-item-description {
  font-size: 11px;
  color: $color-neutral-600;
  white-space: normal;
  line-height: 15px;

  .context__menu--can-be-active & {
    margin-right: -22px;
  }
}

.context__form {
  min-width: 260px;
  padding: 16px;
}

.context__form-actions {
  display: flex;
  align-items: center;
  justify-content: right;

  &--multiple-actions {
    justify-content: space-between;
  }
}

.context__menu-active-icon {
  color: $palette-green-600;
  position: absolute;
  top: 7px;
  right: 8px;
  font-size: 16px;
}
