.dashboard {
  padding: 30px;
}

.dashboard__alert {
  margin: 30px 30px 0 30px;
}

.dashboard__alert-button {
  margin-top: 12px;
}

.dashboard__group {
  border: 1px solid $color-neutral-200;
  background-color: $white;
  border-radius: 6px;
  margin-bottom: 40px;
  padding: 20px 30px 0 30px;
}

.dashboard__group-head {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $color-neutral-200;
  padding-bottom: 16px;
  margin-bottom: 20px;
}

.dashboard__group-title {
  @extend %ellipsis;

  font-size: 18px;
  font-weight: 700;
  max-width: 100%;
  position: relative;
  color: $color-primary-900;
  min-width: 0;

  &:hover {
    text-decoration: none;
  }

  &.dashboard__group-title-link--loading {
    padding-right: 24px;

    &::after {
      content: "";

      @include loading(14px);
      @include absolute(6px, 0, auto, auto);
    }
  }
}

.dashboard__group-title-options {
  color: $color-primary-900;
}

.dashboard__group-link {
  flex: 0 0;
  margin-left: 16px;
}

.dashboard__group-title-icon {
  margin-left: 10px;
  font-size: 14px;
}

.dashboard__group-items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.dashboard__group-item {
  position: relative;
  z-index: 1;
  width: 20%;
  margin-bottom: 20px;
}

.dashboard__group-item-link {
  position: relative;
  display: flex;
  margin-right: 20px;

  &:hover {
    text-decoration: none;

    &::before {
      @include absolute(-8px);

      content: "";
      background-color: $color-neutral-100;
      border-radius: 3px;
      z-index: -1;
    }
  }
}

.dashboard__group-item-icon {
  @include center-text(32px, 14px);

  flex: 0 0 32px;
  background-color: $color-primary-500;
  border-radius: 3px;
  color: $white;
  font-size: 14px;
  margin-right: 12px;

  &.dashboard__group-item-icon--add {
    background-color: $color-success-500;
  }
}

.dashboard__group-item-name {
  @extend %ellipsis;

  color: $color-primary-900;
  width: 100%;
  line-height: 32px;
}
