.dashboard__container {
  padding: 24px;
  background: $white;
  height: 100%;
}

.dashboard__scroll-container {
  height: calc(100vh - 74px);
  overflow-y: auto;
  padding: 24px;
  background: $white;
}

.dashboard__header {
  position: sticky;
  top: 0;
  padding: 0 24px;
  border-bottom: 1px solid $palette-neutral-200;
  display: flex;
  gap: 15px;
  align-items: center;
  background: $white;
  z-index: 1;
  height: 74px;
  width: 100%;
}

.dashboard__header-left {
  display: flex;
  align-items: center;
  gap: 15px;
  min-width: 0;
}

.dashboard__workspace-name {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding: 24px 0;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  min-width: 0;
}

.dashboard__workspace-name-text {
  @extend %ellipsis;
}

.dashboard__workspace-name-icon {
  color: $palette-neutral-600;
  font-size: 16px;
  flex: 0 0;
}

.dashboard__header-right {
  flex: 0 0;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 24px;
}

.dashboard__wrapper {
  flex-grow: 1;
}

.dashboard__main {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.dashboard__applications {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.dashboard__application-more-button {
  display: none;
  margin-left: auto;
}

.dashboard__application {
  display: flex;
  list-style: none;
  align-items: flex-start;
  gap: 16px;
  padding: 10px;
  cursor: pointer;

  @include rounded($rounded-md);

  &:hover {
    background: $palette-neutral-25;

    .dashboard__application-more-button {
      display: block;
    }
  }
}

.dashboard__application-wrapper {
  display: flex;
  gap: 16px;
  min-width: 0;
  width: 100%;
  align-items: center;
}

.dashboard__application-icon {
  display: flex;
  border: 1px solid $palette-neutral-200;
  background: $white;
  width: 40px;
  height: 40px;
  flex: 0 0 40px;
  align-items: center;
  justify-content: center;

  @include rounded($rounded-md);
  @include elevation($elevation-low);
}

.dashboard__application-name {
  font-size: 13px;
  height: 16px;
  font-weight: 500;
  display: block;
}

.dashboard__application-name-text {
  @extend %ellipsis;
}

.dashboard__application-details {
  min-width: 0;
}

.dashboard__application-more {
  @extend %ellipsis;

  color: $palette-neutral-900;
  font-size: 11px;
  padding-top: 8px;
  font-weight: 500;
}

.dashboard__application-more-separator {
  margin: 0 6px;
  color: $palette-neutral-400;
}

.dashboard__application-separator {
  height: 1px;
  background: $palette-neutral-200;
  width: calc(100% - 65px);
  margin: 6px 0 6px auto;
}

.dashboard__no-application {
  border-radius: 6px;
  border: 1px dashed $palette-neutral-400;
  height: calc(100% - 48px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

.dashboard__extras {
  display: flex;
  flex-direction: column;
  gap: 24px;
  order: 1;

  @media screen and (min-width: 1280px) {
    flex-direction: row;
    order: 0;
  }
}

.dashboard__suggested-templates {
  @media screen and (min-width: 1280px) {
    width: 50%;
  }
}

.dashboard__suggested-templates-wrapper {
  background: $palette-neutral-50;
  padding: 24px;
  height: calc(100% - 33px);

  @include flex-align-items(16px);
  @include rounded($rounded-md);

  @media screen and (min-width: 1280px) {
    order: 1;
  }
}

.dashboard__suggested-template {
  flex: 1 1 0;
}

.dashboard__resources {
  @media screen and (min-width: 1280px) {
    width: 50%;
  }
}

.dashboard__resources-wrapper {
  display: grid;
  gap: 16px;
  height: calc(100% - 33px);
  grid-template-columns: repeat(1, 1fr);

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.dashboard__resource {
  border: 1px solid $palette-neutral-200;
  padding: 21px;
  text-decoration: none;
  display: flex;

  @include rounded($rounded-md);
  @include elevation($elevation-low);

  &:hover {
    text-decoration: none;
    border-color: $palette-neutral-400;
  }
}

.dashboard__resource-inner {
  @include flex-align-items(15px);
}

.dashboard__resource--large {
  align-items: flex-end;

  @media screen and (min-width: 768px) {
    grid-row: span 2;

    .dashboard__resource-inner {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
  }
}

.dashboard__resource-icon {
  width: 40px;
  height: 40px;
  background: $palette-neutral-50;
  color: $palette-neutral-700;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  flex-shrink: 0;

  @include rounded($rounded-3xl);
}

.dashboard__resource-title {
  font-size: 13px;
  font-weight: 500;
  color: $palette-neutral-1200;
  margin: 0;
}

.dashboard__resource-text {
  margin: 0;
  font-size: 12px;
}
