.deactivated-label {
  display: inline-block;
  background-color: $color-primary-200;
  color: $color-primary-500;
  margin: 0 4px;

  @include center-text(14px, 9px);
  @include rounded($radius-4);
}
