.delete-section {
  position: relative;
  border: solid 1px $color-neutral-200;
  padding: 31px 16px 16px;
  margin-bottom: 30px;

  @include rounded($rounded);
}

.delete-section__label {
  display: flex;
  align-items: center;
  border: 1px solid $color-error-300;
  background-color: $color-error-100;
  color: $color-error-900;
  line-height: 28px;
  padding: 0 10px;

  @include absolute(-14px, auto, auto, 12px);
  @include rounded($rounded);
}

.delete-section__label-icon {
  background-color: $white;
  border: solid 2px $color-error-400;
  color: $color-error-900;
  border-radius: 100%;
  text-align: center;
  margin-right: 8px;
  height: 18px;
  width: 18px;
  line-height: 14px;
  font-size: 8px;
}

.delete-section__description {
  margin-top: 0;
  margin-bottom: 12px;
}

.delete-section__list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    line-height: 18px;
    font-size: 14px;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  small {
    font-size: 12px;
    color: $color-neutral-500;
  }
}

.delete-section__list-icon {
  position: relative;
  top: -1px;
  color: $color-neutral-400;
  font-size: 10px;
  margin-right: 8px;
}
