.expandable__header--card {
  padding: 20px;
  border: 1px solid $color-neutral-200;
  background-color: $color-neutral-100;

  @include rounded($rounded-md);

  .expandable--expanded & {
    border-radius: 6px 6px 0 0;
  }
}

.expandable__content--card {
  padding: 20px;
  border: 1px solid $color-neutral-200;
  border-top: none;
  border-radius: 0 0 6px 6px;
}

.expandable--toggle-on-click {
  cursor: pointer;
}
