.exports-modal__name-input {
  margin-right: 20px;
}

.exports-modal__export {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.exports-modal__info {
  min-height: 36px;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.exports-modal__list {
  border-top: 1px solid #d9dbde;
  padding-top: 30px;
  margin-top: 30px;
}

.exports-modal__list--loading {
  margin: auto;
}

.exports-modal__name {
  font-weight: 600;
  padding-bottom: 5px;
}

.exports-modal__detail {
  color: $color-neutral-500;
}

.exports-modal__actions a {
  display: inline-block;
  margin-left: 20px;
}
