.field-mapping {
  @include absolute(0, 0, 0, 0);

  display: flex;
  flex-direction: column;
}

.field-mapping__body {
  position: relative;
  height: 100%;
  overflow-y: auto;
  padding: 20px;
}

.field-mapping__empty {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 30px 0 30px;
  height: 100%;
  border-top-left-radius: 6px;
}

.field-mapping__empty-icon {
  font-size: 30px;
  margin-bottom: 30px;
}

.field-mapping__empty-text {
  font-size: 14px;
  line-height: 160%;
}
