.formula-input-field {
  font-size: 13px;
  line-height: 25px;
  padding: 10px 12px;
  min-height: 48px;
  height: auto;

  &.formula-input-field--small {
    min-height: 38px;
    padding: 5px 12px;
    line-height: 25px;
  }
}

.formula-input-field--focused {
  border-color: $color-primary-500;
}

.formula-input-field__reset-button {
  width: 100%;
}

.ProseMirror div.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: $color-neutral-500;
  pointer-events: none;
  height: 0;
}
