.hidings {
  display: flex;
  flex-direction: column;
}

.hidings__head {
  padding: 4px 16px 0;
}

.hidings__cover {
  margin: 16px 0 10px;
}

.hidings__search {
  position: relative;
  border-bottom: 1px solid $color-neutral-200;

  @include flex-align-items;
}

.hidings__search-icon {
  color: $color-neutral-400;
  font-size: 18px;
}

.hidings__search-input {
  display: block;
  width: 100%;
  border: none;
  padding: 0 12px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  @include fixed-height(36px, 14px);
}

.hidings__body {
  padding: 0 16px;
  overflow-y: scroll;
  height: 100%;
}

.hidings__list {
  position: relative;
  list-style: none;
  margin: 8px 0 0;
  padding: 0;
}

.hidings__item {
  @include flex-align-items(8px);

  position: relative;
  display: flex;
  margin-bottom: 10px;
  padding: 0;
}

.hidings__item-handle {
  width: 8px;
  height: 16px;
  background-image: radial-gradient($color-neutral-200 40%, transparent 40%);
  background-size: 4px 4px;
  background-repeat: repeat;

  &:hover {
    background-image: radial-gradient($color-neutral-500 40%, transparent 40%);
  }
}

.hidings__item-name {
  line-height: 28px;
}

.hidings__footer {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: 8px 16px 16px;
}

.hidings__footer-button:not(:last-child) {
  margin-right: 10px;
}
