.highlight {
  position: relative;
  box-shadow: rgba($palette-neutral-1200, 0.4) 0 0 0 5000px;
  opacity: 1;
  width: 200px;
  height: 200px;
  z-index: $z-index-highlight-overlay;
  box-sizing: content-box;
  transition: top 0.1s ease, left 0.1s ease, width 0.1s ease, height 0.1s ease;

  @include rounded($rounded);
  @include absolute(0, 0, 0, 0);
}
