.layout {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.layout__col-1 {
  position: absolute;
  z-index: $z-index-layout-col-1;
  left: 0;
  top: 0;
  bottom: 0;
  width: 240px;

  .layout--collapsed & {
    width: 48px;
  }
}

.layout__col-2 {
  position: absolute;
  z-index: $z-index-layout-col-3;
  left: 240px;
  top: 0;
  bottom: 0;
  right: 0;

  .layout--collapsed & {
    left: 48px;
  }
}

.layout__col-2-scroll {
  @include absolute(0);

  overflow: auto;

  &.layout__col-2-scroll--white-background {
    background-color: $white;
  }
}

.layout__col-2-1 {
  position: absolute;
  z-index: $z-index-layout-col-3-1;
  left: 0;
  top: 0;
  right: 0;
  height: 52px;
}

.layout__col-2-2 {
  position: absolute;
  z-index: $z-index-layout-col-3-2;
  left: 0;
  top: 52px;
  right: 0;
  bottom: 0;
}
