.loading {
  @include loading;
}

.loading-overlay {
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;

  @include absolute(0, 0, 0, 0);

  &::after {
    content: '';
    margin-left: -7px;
    margin-top: -7px;
    z-index: 1;

    @include loading(14px);
    @include absolute(50%, 0, auto, 50%);
  }
}

.loading-absolute-center {
  margin: -7px auto auto -7px;

  @include loading(14px);
  @include absolute(50%, auto, auto, 50%);
}

.loading__wrapper {
  position: relative;
  width: 100%;
  height: 14px;
}
