.modal-sidebar__head {
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 10px;
  border-bottom: solid 1px $palette-neutral-200;
}

.modal-sidebar__head-icon {
  flex: 0 0 32px;
  margin-right: 16px;
}

.modal-sidebar__head-name {
  font-weight: 500;
}

.modal-sidebar__head-icon-and-name {
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
}

.modal-sidebar__head-icon-and-name-icon {
  margin-right: 10px;
  font-size: 12px;
}

.modal-sidebar__title {
  @extend %ellipsis;

  color: $palette-neutral-900;
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
  padding: 16px 16px 0;

  .modal-sidebar__nav + & {
    padding-top: 4px;
  }
}

.modal-sidebar__nav {
  list-style: none;
  margin: 0;
  padding: 8px 0;
}

.modal-sidebar__nav-link {
  @extend %ellipsis;
  @include flex-align-items(10px);

  position: relative;
  height: 32px;
  line-height: 32px;
  padding: 0 8px;
  margin: 0 8px;
  color: $palette-neutral-900;
  user-select: none;
  font-weight: 500;
  margin-bottom: 2px;

  @include rounded($rounded-md);

  &:hover {
    text-decoration: none;
    background-color: rgba($palette-neutral-1300, 0.04);
  }

  &.active {
    background-color: rgba($palette-neutral-1300, 0.04);
    color: $palette-neutral-1200;
  }
}

.modal-sidebar__nav-icon {
  font-size: 16px;
}
