.modal-progress__actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.modal-progress__loading-bar {
  @include fixed-height(9px, 12px);

  width: 100%;
  background-color: $color-neutral-100;
  margin-right: 30px;

  @include rounded($rounded-md);
}

.modal-progress__loading-bar-inner {
  background-color: $color-success-300;
  height: 100%;
  transition-timing-function: linear;

  @include rounded($rounded-md);
}

.modal-progress__status-text {
  color: $color-neutral-400;
  padding-top: 5px;
  position: absolute;
}

.modal-progress__export-button {
  flex: 0 0 160px;
}
