.modal-sidebar__head {
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 16px;
}

.modal-sidebar__head-icon {
  flex: 0 0 32px;
  margin-right: 16px;
}

.modal-sidebar__head-name {
  font-weight: 600;
}

.modal-sidebar__head-icon-and-name {
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
}

.modal-sidebar__head-icon-and-name-icon {
  margin-right: 10px;
  font-size: 12px;
}

.modal-sidebar__nav {
  list-style: none;
  margin: 0;
  padding: 0 0 16px;
}

.modal-sidebar__nav-link {
  @extend %ellipsis;
  @include flex-align-items(10px);

  position: relative;
  height: 42px;
  line-height: 42px;
  padding: 0 20px;
  border-left: solid 4px transparent;
  color: $color-neutral-900;
  user-select: none;

  &:hover {
    text-decoration: none;
    background-color: darken($color-neutral-100, 2%);
  }

  &.active {
    background-color: darken($color-neutral-100, 2%);
    border-left-color: $color-primary-500;
    font-weight: 600;
  }
}

.modal-sidebar__nav-icon {
  font-size: 16px;
}
