.modal__wrapper {
  @include absolute(0);

  overflow: auto;
  z-index: $z-index-modal;
  background-color: rgba($color-neutral-700, 0.16);
}

.modal__box {
  @extend .box;

  position: relative;
  margin: 40px auto;
  max-width: 660px;
  background-color: $white;
  border-radius: 6px;

  &.modal__box--with-sidebar {
    display: flex;
    padding: 0;
    max-width: 860px;
  }

  &.modal__box--full-screen {
    @include absolute(20px);

    max-width: none;
    margin: 0;
    padding: 0;
  }

  .box__title {
    margin-top: 0;
  }
}

.modal__box-sidebar {
  flex: 0 0 200px;
  background-color: $color-neutral-50;
  border-right: 1px solid $color-neutral-200;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.modal__box-content {
  width: 100%;
  padding: 32px 40px;
  min-width: 0;
  flex: 1;
}

.modal__close {
  @include absolute(20px, 20px, auto, auto);

  font-size: 20px;
  color: $color-neutral-400;

  &:hover {
    color: $color-neutral-800;
  }
}

.modal__head {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: solid 1px $color-neutral-200;
}
