.onboarding-tool-preview {
  border-top: solid 8px $palette-neutral-1300;
  border-left: solid 8px $palette-neutral-1300;
  border-top-left-radius: $rounded-3xl;
  overflow: hidden;
  pointer-events: none;
  transition: left 0.5s ease;

  @include absolute(10%, 0, 0, 10%);
}

.onboarding-tool-preview__focus-table {
  left: -500px !important;
}

.onboarding-tool-preview__inner {
  @include absolute(0, 0, 0, 0);
}

.onboarding-tool-preview__highlight {
  box-shadow: rgba($palette-neutral-1200, 0.4) 0 0 0 5000px;
  opacity: 1;
  width: 200px;
  height: 200px;
  z-index: $z-index-highlight-overlay;
  box-sizing: content-box;

  @include rounded($rounded);
  @include absolute(0, 0, 0, 0);

  &--hidden {
    box-shadow: none;
  }
}
