.progress-bar {
  @include fixed-height(9px, 12px);

  width: 100%;
  background-color: $color-neutral-100;
  margin-right: 30px;
  @include rounded($radius-6);
}

.progress-bar__inner {
  background-color: $color-success-300;
  height: 100%;
  transition-timing-function: linear;
  @include rounded($radius-6);

  &--overflow {
    background-color: $color-error-500;
  }
}

.progress-bar__status-text {
  color: $color-neutral-400;
  padding-top: 5px;
  position: absolute;
}
