.select-row-modal {
  .modal__box {
    padding: 0;
  }

  .modal__close {
    z-index: 2;
    top: 10px;
  }

  .simple-grid__left {
    .simple-grid__cell:not(.simple-grid__cell--first):not(
        .simple-grid__cell--single
      ) {
      width: 200px;
    }

    .simple-grid__field:not(.simple-grid__field--first) {
      width: 200px;
    }
  }
}

.select-row-modal__initial-loading {
  position: relative;
  height: 44px + 33px + (33px * 10) + 44px;

  &::after {
    content: '';
    z-index: 5;
    margin: -7px auto auto -7px;

    @include loading(14px);
    @include absolute(50%, auto, auto, 50%);
  }
}

.select-row-modal__search {
  position: relative;
  z-index: 1;
  border-bottom: solid 2px $color-neutral-200;
  padding: 0 0 0 15px;

  @include flex-align-items(15px);
}

.select-row-modal__search-icon {
  color: $color-neutral-400;
  font-size: 16px;
}

.select-row-modal__search-input {
  position: relative;
  z-index: 1;
  border: 0;
  width: 100%;
  border-top-right-radius: $rounded-md;

  @include fixed-height(44px, 14px);
}

.select-row-modal__rows {
  position: relative;
  height: 33px + (33px * 11) + 44px;
  background-color: $color-neutral-100;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}

.select-row-modal__rows--loading {
  position: relative;

  &::before {
    content: '';
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.2);

    @include absolute(0, 0, 0, 0);
  }

  &::after {
    content: '';
    z-index: 5;
    margin: -7px auto auto -7px;

    @include loading(14px);
    @include absolute(50%, auto, auto, 50%);
  }
}
