.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $white;
  border-right: 1px solid $color-neutral-200;
}

.sidebar__content-wrapper {
  overflow-y: auto;
}

.sidebar__content {
  padding: 12px;
}

.sidebar__footer {
  flex-grow: 0;
  flex-shrink: 0;
  border-top: 1px solid $color-neutral-200;
}

.sidebar__collapse {
  display: block;
  padding: 0 16px;
  color: $color-primary-900;
  font-weight: bold;

  @include fixed-height(47px, 14px);

  &:hover {
    text-decoration: none;
    background-color: $color-neutral-100;
  }
}

.sidebar__title {
  font-family: $logo-font-stack;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;

  img {
    max-width: 104px;
  }
}

.sidebar__group-title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}

.sidebar__new {
  font-size: 13px;
  color: $color-neutral-300;
  margin-left: 7px;

  &:hover {
    color: $color-neutral-500;
    text-decoration: none;
  }
}
