.tabs {
  list-style: none;
  display: flex;
  margin: 0 0 20px 0;
  padding: 0;
}

.tabs__item {
  margin: 0;
  padding: 0;

  &:not(:last-child) {
    margin-right: 16px;
  }
}

.tabs__link {
  display: block;
  font-size: 13px;
  line-height: 32px;
  padding: 0 16px;
  border-radius: 3px;
  color: $color-primary-900;

  &:hover {
    text-decoration: none;
    background-color: $color-neutral-100;
  }

  .tabs__item--active & {
    background-color: $color-primary-100;
  }
}
