.template__card {
  cursor: pointer;
  flex-grow: 1;
  overflow: hidden;
}

.template__card-name {
  font-size: 13px;
  margin-top: 16px;
  color: $palette-neutral-1200;

  span {
    display: inline-block;
    width: 100%;

    @extend %ellipsis;
  }

  &:hover {
    text-decoration: none;
  }
}

.template__card-more {
  background: #fff;
  border: 1px solid $palette-neutral-200;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 95 / 48;

  @include rounded($rounded-md);
}

.template__card-more-icon {
  width: 40px;
  height: 40px;

  .template__card:hover & {
    animation: scale-template-more-icon 0.2s forwards;
  }
}

@keyframes scale-template-more-icon {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}
