.thumbnail {
  position: relative;
  display: inline-block;
}

.thumbnail__image {
  display: block;
  max-width: 180px;
}

.thumbnail__remove {
  position: absolute;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  color: $color-error-500;
  font-size: 14px;
  font-weight: 600;

  &:hover {
    text-decoration: none;
  }

  :hover > & {
    display: flex;
  }

  i {
    margin-right: 6px;
  }
}
