.trash__title {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 74px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: solid 1px $color-neutral-200;
  background-color: $white;
}

.trash__title-left {
  width: 100%;
  min-width: 0;
  margin-right: 20px;
}

.trash__title-heading {
  @extend %ellipsis;

  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
}

.trash__title-description {
  @extend %ellipsis;

  font-size: 14px;
  color: $color-neutral-500;
}

.trash__title-right {
  flex: 0 0;
}

.trash__empty {
  text-align: center;
  margin: 60px 0 30px;
}

.trash__empty-icon {
  font-size: 30px;
  color: $color-primary-500;
  margin-bottom: 30px;
}

.trash__empty-text {
  font-size: 14px;
  color: $color-neutral-500;
}

.trash__entries {
  @include absolute(106px, 0, 0, 0);
}

.trash__end-line {
  margin: 20px 27px 20px 41px;
  border-bottom: solid 1px #d9dbde;
}
