.workflow-action__header {
  display: flex;
  align-items: center;
}

.workflow-action__header-handle {
  width: 15px;
  height: 25px;
  background-image: radial-gradient($color-neutral-200 40%, transparent 40%);
  background-size: 5px 5px;
  background-repeat: repeat;
  cursor: pointer;

  &:hover {
    background-image: radial-gradient($color-neutral-500 40%, transparent 40%);
  }
}

.workflow-action__placeholder {
  height: 20px;
}
