.grid-field-date {
  display: flex;
  width: 100%;
}

%grid-field-date-date {
  flex: 0 0 100%;
  width: 100%;

  .grid-field-date--has-time & {
    width: 60%;
    flex-basis: 60%;
  }
}

%grid-field-date-time {
  flex: 0 0 40%;
  width: 40%;
  padding-left: 0;
}

.grid-field-date-date {
  @extend .grid-field-text;
  @extend %grid-field-date-date;
}

.grid-field-date-time {
  @extend .grid-field-text;
  @extend %grid-field-date-time;
}

.grid-field-date-date-input {
  @extend .grid-field-text-input;
  @extend %grid-field-date-date;

  min-width: 0;
}

.grid-field-date-time-input {
  @extend .grid-field-text-input;
  @extend %grid-field-date-time;

  min-width: 0;
}
