.grid-view-array-field {
  overflow: clip;
  list-style: none;
  margin: 0;
  padding: 5px 3px;
  user-select: none;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
  gap: 4px;

  &.active {
    overflow: visible;
    height: auto;
    flex-flow: row;
    flex-wrap: wrap;
    bottom: auto;
    min-width: 100%;
    min-height: 100%;
  }

  .grid-view--row-height-medium &,
  .grid-view--row-height-large & {
    height: auto;
    flex-wrap: wrap;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .grid-view__column--matches-search & {
    background-color: $color-primary-100;

    &.active {
      background-color: $color-primary-100;
    }
  }
}
