.grid-field-button {
  @extend %ellipsis;

  height: 32px;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  & .button {
    max-width: 90%;
  }
}
