.grid-field-many-to-many__list.grid-field-multiple-select__list {
  padding: 6px 3px;

  .grid-view--row-height-medium &,
  .grid-view--row-height-large & {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

.grid-field-multiple-select__item {
  white-space: nowrap;
  overflow: unset;

  @include select-option-style(flex, true, false);

  .grid-field-many-to-many__cell.active & {
    max-width: calc(100% - 8px);
  }

  .grid-view__column--matches-search .grid-field-many-to-many__cell.active & {
    background-color: $color-primary-200;
  }
}
