.grid-field-password {
  @include fixed-height(32px, 13px);

  padding: 0 10px;
  user-select: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.grid-field-password__dots {
  @extend %ellipsis;

  min-width: 0;
}

.grid-field-password__link {
  flex: 0 0;
  width: 100%;
  margin-left: 4px;
}
