.simple-grid__right-scrollbar-wrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
  flex: 1;
}

.simple-grid__right-wrapper {
  overflow: hidden;
  height: 100%;
}

.simple-grid__right {
  display: inline-flex;
  flex-direction: column;
  height: 100%;
}

.simple-grid__head {
  display: flex;
  flex-wrap: nowrap;
}

.simple-grid__field {
  @extend %ellipsis;

  width: 150px;
  background-color: $color-neutral-100;
  border-bottom: 1px solid $color-neutral-200;
  border-right: 1px solid $color-neutral-200;
  padding: 0 10px;

  @include fixed-height(33px, 13px);

  &.simple-grid__field--first {
    width: 40px;
    border-right: none;
  }
}

.simple-grid__field-icon {
  margin-right: 6px;
}

.simple-grid__body {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;

  .simple-grid--with-footer & {
    padding-bottom: 0;
  }
}

.simple-grid__cell {
  position: relative;
  width: 150px;
  background-color: $white;
  height: 33px;
  border-bottom: 1px solid $color-neutral-200;
  border-right: 1px solid $color-neutral-200;

  &.simple-grid__cell--first {
    @extend %ellipsis;

    width: 40px;
    line-height: 32px;
    padding-left: 8px;
  }

  &.simple-grid__cell--single {
    width: 100%;
  }
}

.simple-grid__row--hover {
  cursor: pointer;

  .simple-grid__cell,
  .grid-view__cell {
    background-color: $color-primary-100;
  }
}

.simple-grid__row--selected {
  cursor: initial;

  .simple-grid__cell,
  .grid-view__cell {
    background-color: $color-neutral-50;
  }
}

.simple-grid__add-row {
  display: block;
  line-height: 33px;
  color: $color-neutral-900;
  background-color: $white;
  padding-left: 8px;
}

.simple-grid__foot {
  display: flex;
  align-items: center;
  margin-top: auto;
  padding: 0 10px;
  height: 44px;
  background-color: $color-neutral-50;
  border-top: solid 1px $color-neutral-200;
}

.simple-grid__left {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-right: solid 1px $color-neutral-300;

  .simple-grid__cell,
  .simple-grid__field {
    &:last-child {
      border-right: none;
    }
  }
}

.simple-grid__right-wrapper-footer {
  position: absolute;
  background: #fafafa;
  height: 44px;
  bottom: 0;
  border-top: solid 1px #d9dbde;
  width: 100%;
}

.simple-grid__row {
  display: flex;
  flex-wrap: nowrap;
}

.simple-grid {
  display: flex;

  &.simple-grid--full-height {
    height: 100%;
  }

  &:not(.simple-grid--with-footer) {
    .simple-grid__row,
    .simple-grid__head {
      .simple-grid__cell,
      .simple-grid__field {
        &:last-child {
          border-right: none;
        }
      }
    }
  }
}
