.grid-field-single-select__cell {
  &.active {
    bottom: auto;
    right: auto;
    height: auto;
    min-height: 100%;
    min-width: 100%;
  }
}

.grid-field-single-select {
  position: relative;
  display: block;
  height: 32px;
  padding: 0 10px;
  width: 100%;
  user-select: none;

  .grid-view__cell.active &:not(.grid-field-single-select--read-only):hover {
    cursor: pointer;
  }

  &.grid-field-single-select--selected {
    padding-right: 32px;
  }
}

.grid-field-single-select__option {
  margin-top: 6px;

  @include select-option-style(inline-block, true);
}

.grid-field-single-select__icon {
  font-size: 11px;
  color: $color-neutral-900;
  transform: translateY(-50%);

  @include absolute(50%, 10px, auto, auto);
}
