.box {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
  padding: 32px 40px;
}

.box-title {
  padding-bottom: 20px;
  border-bottom: 1px solid $color-neutral-200;
}
