.layout {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.layout-col-1 {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 52px;
  overflow-x: auto;
}

.layout-col-2 {
  position: absolute;
  left: 52px;
  top: 0;
  bottom: 0;
  width: 226px;
  overflow-y: auto;
}

.layout-col-3 {
  position: absolute;
  left: 278px;
  top: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
}
