@mixin alert-style(
  $background,
  $border-color,
  $title-color,
  $text-color,
  $icon-border,
  $hover-color
) {
  background-color: $background;
  border-color: $border-color;

  &:not(.alert--simple) {
    .alert__icon {
      color: $title-color;
    }
  }

  .alert__title {
    color: $title-color;
  }

  .alert__content {
    color: $text-color;

    p {
      color: inherit;
    }
  }

  .alert__close {
    color: $title-color;

    &:hover {
      color: $hover-color;
    }
  }

  &.alert--simple {
    background-color: $white;
    border-color: $palette-neutral-400;

    .alert__title {
      color: $palette-neutral-1300;
    }

    .alert__content {
      color: $palette-neutral-1000;
    }

    .alert__close {
      color: $palette-neutral-700;
    }
  }
}
