.field-boolean-checkbox {
  border: 1px solid $color-neutral-200;
  border-radius: 3px;
  color: $color-success-600;
  cursor: pointer;

  @include center-text(18px, 11px);

  .field-boolean-checkbox.active & {
    border-color: $color-neutral-300;
  }

  .check {
    visibility: hidden;
  }

  &.active .check {
    visibility: visible;
  }
}

// @TODO add the to use a checkbox input here.
