.link-navigation-selection-form__navigate-option-page-path {
  overflow: hidden;
  height: 36px;
  width: 196px;
}

.link-navigation-selection-form__navigate-option-page-path > span {
  height: 30px;
  display: inline-block;
  text-wrap: nowrap;
}
