.multi-page-container-element-form__page-list {
  display: block;
  margin: 16px 0;
}

.multi-page-container-element-form__page-checkbox {
  display: flex;
  margin-bottom: 12px;
}

.multi-page-container-element-form__actions {
  display: flex;
  gap: 15px;
}
