.table-element-form__field-header {
  display: flex;
  background-color: $palette-neutral-100;
  margin-bottom: 4px;
  align-items: center;
  padding-right: 15px;
  user-select: none;
  cursor: pointer;
}

.table-element-form__field-error {
  font-size: 20px;
  color: #ffbdb4;
  pointer-events: none;
  padding-right: 3px;
}

.table-element-form__field-name {
  flex: 1;
  padding-right: 5px;

  @extend %ellipsis;
}

.table-element-form__field-handle {
  width: 8px;
  height: 36px;
  background-image: radial-gradient($color-neutral-200 40%, transparent 40%);
  background-size: 4px 4px;
  background-repeat: repeat;
  margin: 2px;
  margin-right: 12px;
  cursor: grab;
  visibility: hidden;

  .table-element-form__field-header:hover & {
    visibility: visible;
  }
}

.table-element-form__field {
  width: calc(100% + 30px);
  margin-left: -15px;

  .expandable__content {
    padding: 15px 20px 5px 25px;
    border-bottom: 1px solid $palette-neutral-300;
    margin-bottom: 4px;
  }

  .control__elements--small {
    margin-bottom: 0;
  }

  .control--horizontal.control--after-input .control__wrapper {
    flex-basis: 100%;
  }
}

.table-element-form__field-label .form-input__input-wrapper {
  gap: 8px;

  .form-input {
    flex: 1;
  }
}

.table-element-form__refresh-fields-button {
  margin-bottom: 6px;
}
