.visibility-form__expanded-form-element {
  margin-left: 20px;
  margin-top: 10px;
}

.visibility-form__role-links {
  margin-top: 10px;
  font-size: 12px;
}

.visibility-form__role-links-deselect-all {
  margin-left: 10px;
}

.visibility-form__role-checkbox-container {
  display: inline-block;
  margin-top: 10px;
  margin-left: 2px;
}

.visibility-form__role-checkbox-div {
  display: flex;
  margin-bottom: 5px;
}
